* {
    margin: 0;
}

html {
    height: 100%;
    font-size: 100%;
    overflow-y: auto;
    font-family: 'Cairo', sans-serif !important;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    height: 100%;
    margin: 0;
    font-size: 13px;
    line-height: 1.231;
    background-image: url('../Images/bgg.png');
    background-repeat: repeat;
}

.start,
.goal {
    background: rgba(0, 0, 0, 0.17)
}

.grid-container .row .cell {
    display: inline-table;
    width: 50px;
    height: 33px;
    text-align: center;
    /*background-color: #417979;*/
    margin: 8px;
}

.grid-container .row .cell:hover {
    background: rgba(41, 78, 105, 0.76);
    border: 2px solid;
}

.modal-footer a {
    float: left !important;
    left: 26%;
}

.leftside-nav .btn {
    background-color: #417979
}

#goalEmpty {
    margin-bottom: -12px;
}

#panel {
    margin: 10px;
}

.tile-container .cell span {
    display: block;
    transform: translateY(70%);
}

h1,
h2,
h3,
h4,
h5,
span {
    cursor: default !important;
}

i {
    cursor: pointer !important;
}

#container {
    position: relative;
}

.onepush-logo {
    color: white;
    cursor: pointer !important;
}

.onepush-logo i {
    font-size: 50px;
    vertical-align: middle;
    margin: 5px;
    transition: all 0.5s ease-out;
}

.onepush-logo h4 {
    display: inline;
    vertical-align: middle;
    cursor: pointer !important;
    text-shadow: 1px 1px 3px #223e52;
}

.onepush-logo:hover i {
    transform: rotate(-45deg);
}

.onepush-logo:hover h4 {
    border-bottom: solid 1px #dadada;
}

.pagewidth {
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    width: 100%;
    position: relative;
}

header {
    position: fixed;
    z-index: 9999;
    background: rgba(41, 78, 105, 0.76);
    width: 471px;
    height: 160%;
    margin-top: -170px;
    margin-left: -180px;
}

.page-wrap {
    min-height: 99.9%;
    margin-bottom: -50px;
}

.page-wrap:after {
    content: "";
    display: block;
}

.leftside-nav {
    position: absolute;
    width: 345px;
    z-index: 10000;
    padding: 10px;
    color: rgba(255, 255, 255, 0.76);
}

.tile-desc {
    font-size: 1.2em;
    margin: 15px 10px;
    word-break: break-word;
    line-height: 1.5em;
    text-shadow: 1px 1px 3px #132e42;
}

.tile-container {
    position: absolute;
    padding: 15px;
    padding-left: 369px;
    width: 100%;
    height: 100%;
    z-index: 999;
    color: #bdbdbd;
    overflow-x: auto;
    overflow-y: auto;
}

.modal {
    z-index: 10001 !important;
    max-width: 500px !important;
    background-color: rgb(47, 81, 106) !important;
    color: white;
}

.modal .modal-footer {
    padding: 0px !important;
}

.modal .modal-footer a {
    width: 50%;
    margin: 0px !important;
    height: 100%;
    border: none;
    border-radius: 0px;
    box-shadow: none;
    font-size: 22px;
    line-height: 2.5em;
}

::-webkit-scrollbar {
    width: 13px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(28, 86, 128, 0.85);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .5);
}

 ::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(28, 86, 128, 0.85);
}

@media only screen and (max-width: 479px) {
    header {
        width: 120%;
        height: 160px;
        margin-top: -20px;
        margin-left: -30px;
    }
    .leftside-nav {
        width: 100%;
    }
    .tile-desc {
        display: none;
    }
    .tile-container {
        padding-left: 15px;
        padding-top: 76px;
        z-index: 9999;
    }
}

@media only screen and (min-width: 480px) and (max-width:767px) {
    header {
        width: 120%;
        height: 200px;
        margin-top: -70px;
        margin-left: -50px;
    }
    .leftside-nav {
        width: 100%;
    }
    .tile-desc {
        display: none;
    }
    .tile-container {
        padding-left: 15px;
        padding-top: 91px;
        z-index: 9999;
    }
}

@media only screen and (min-width: 768px) and (max-width:991px) {
    header {
        width: 450px;
        height: 160%;
        margin-top: -170px;
        margin-left: -180px;
    }
    .leftside-nav {
        width: 330px;
        height: calc(100% - 50px);
    }
}

@media only screen and (min-width: 992px) and (max-width:1200px) {
    header {
        width: 450px;
        height: 160%;
        margin-top: -170px;
        margin-left: -180px;
    }
    .leftside-nav {
        width: 335px;
        height: calc(100% - 50px);
    }
}